*{
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
  color: white;
}
table{
   max-width: 100%;
   
   width: 60%;
   
    margin: auto;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px ;
    border-collapse:collapse ;
    background-color: rgba(0, 0, 0, 0.562);
 
}
.div-Table{
    max-width: 100%;
    overflow-x: auto;
  
}
tbody{
    text-align: center;
    line-height: 40px;
    
   td{
    
    border: 1px solid white;
    padding: 0px 2px;
   }
}
thead{
    height: 50px;
    font-weight: 700;
    th{
        border: 1px solid white;
        font-weight: 600;
    }
}
button{
    width: 100px;
    padding: 4px 0px;
    border:none;
    border-radius: 4px;
}
.td-title{
    text-align: start;
    position: relative;
    left: 20px;
}
.owe{
    background-color: blue;
color: white;
}
.own{
    background-color: green;
    color: white;
}
.stepik{
    width: 100%;
    height: 80%;

    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    bottom:0px;
button{
        width: 20%;
    height: 50%;
    background-color: blue;
    border: none;
   margin: 10px 40%;
   color: white;
   font-size: 20px;

}
}
.post{
    border: 1px solid white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 300px;
    height: 300px;
    animation: 3s nme;
    h1{
        text-align: center;
        margin: 20px 0px;
    }
    input{
        width: 90%;
        margin: 10px 0px;
        padding: 2px 0px;
        border-top:none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        outline: none;
    }
    select{
       @extend input
    }
    button{
        width: 60%;
        height: 30px;
        border: none;
        background-color: rgba(0, 0, 255, 0.862);
        color: white;
        margin-top: 10px;
        margin-left: 50px;
    }
}
.put{
    @extend .post;
    height: 250px;
   p{
    margin: 10px 0px;
   }
}
@keyframes nme{
    0%{
        margin-top: -1000px;
    }
    50%{
        margin-top: 210px;
    }
    100%{
        margin: auto;
    }
}
.red-text{
    color: red;
}
.green-text{
    color: green;
}
.red-button{
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.57);
}
.green-button{
    @extend .red-button;
    background-color: rgba(0, 128, 0, 0.729);
}
